@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700&display=swap');
@import url('https://kit.fontawesome.com/yourcode.js');

::-webkit-scrollbar{
  display: none;
}

::placeholder {
  color: #b40000;
  opacity: 1;
}

.testoBase{
  font-family: 'Nunito', sans-serif;
  font-size: 3vh;
}

body{
  margin: 0px;
  box-sizing: border-box;
}

.navbar{
  width: 100%;
  height: 8vh;
  background-color: #b40000;
  display: flex;
  align-items: center;
  position: fixed;
}

#menuOpen{
  width: 4vh;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  visibility: visible;
  margin-left: 2vh;
  margin-right: 2vh;
}

#menuOpen:hover{
  scale: 115%;
}

#menuClose{
  width: 75%;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
  z-index: 2;
  visibility: hidden;
}

#menuClose:hover{
  background-color: white;
  border-radius: 20px;
}

.sidenav {
    height: 100%;
    width: 30vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #b40000;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .logo{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 8vh;
    font-family: 'Nunito', sans-serif;
  }

  .sidebarLink {
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
    text-decoration: none;
    font-size: 3vh;
    color: white;
    display: block;
    font-weight: 600;
    width: fit-content;
  }
  
  .sidebarLink:hover {
    color: black;
    border-bottom: solid 5px white;
  }
  .navCurt{
    padding-top: 10vh;
    padding-left: 2vh;
  }
  
  .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    padding-top: 1vh;
    text-decoration: none;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .closeBtn:hover{
    scale: 115%;
  }

  .logoHome{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
    padding-top: 3rem;
  }

  .intro{
    background-size: cover;
    height: 85vh;
    background-position:center ;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .introChi{
    background-image: url(/Static/Images/Bari3.jpg);
  }

  .introDov{
    background-image: url(/Static/Images/Bari3.jpg);
  }

  .introSer{
    background-image: url(/Static/Images/pexels-manuel-geissinger-325229.jpg);
  }

  .introInd{
    background-image: url(/Static/Images/pexels-manuel-geissinger-325229.jpg);
  }

  .introCon{
    background-image: url(/Static/Images/pexels-manuel-geissinger-325229.jpg);
  }

  .introNol{
    background-position-x: center;
    background-position-y: 80%;
    background-image: url(/Static/Images/pexels-norma-mortenson-4391470.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(22, 22, 22);
  }

  .chisiamo{
    height: fit-content;
    background-color: #ffffff;
  }

  .contatti{
    height: fit-content;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dovesiamo{
    height: fit-content;
    background-color: white;
  }
  
  .contattiGrid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

  }

  .IconCont{
    width: 5rem;
    padding-right: 2rem;
  }

  .contatto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
  }

  .frameMappa{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
  }

  #mappa{
    width: 100%;
    height: 80vh;
  }

  .contactImg{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  video{
    border-radius: 35px;
  }

  .videoCont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
  }
  
  .servizi{
    height: fit-content;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
  }

  .serviziGrid{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center
  }

  .serviziExpl{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .noleggiForm{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  .noleggiInput{
    border-radius: 10px;
    margin-bottom: 1.5vh;
    padding-left: 1vh;
    height: 4vh;
    width: 80vh;
    border: solid 6px #b40000;
    font-size: 2vh;
    color: #b40000;
    
  }

  .formIMG{
    background-color: transparent;
    width: 80vh;
    height: 60vh;
    background-image: url(/Static/Images/noleggio.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .noleggi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4vh;
  }
  
  .titNoleggi{
    font-weight: bold;
    margin-bottom: 2vh;
  }

  .btnNol{
    width: 10vh;
    border-radius: 10px;
    border: solid 6px #b40000;
    height: 4vh;
    font-weight: bold;
    transition: 0.3s;
    font-size: 2vh;
    background-color: #b40000;
    color: white;
  }

  .btnNol:hover{
    transition: 0.3s;
    background-color: white;
    cursor: pointer;
    color: #b40000;
  }

  .noleggiFAQ{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5vh;
  }

  .FAQ{
    background-color: white;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-areas: 
        "domanda  domanda"
        "domanda  domanda"
        "domanda  domanda"
    ;
    gap: 2vh;
    padding: 10vh 2vh 10vh 2vh;
    align-items: center;
    justify-content: center;
  }

  .domanda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b40000;
    border-radius: 25px;
    padding: 1vh;
    text-align: left;
    font-size: 2vh;
    font-weight: bold;
    vertical-align: middle;
    color: white;
  }

  .btnDomanda{
    width: 3vh;
    height: 3vh;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #b40000;
    cursor: pointer;
  }

  details{
   background-color: #b40000;
   color: white;
   font-size: 2vh;
   border-radius: 20px;
   width: 40vh;
  }

  summary{
    background-color: #b40000;
    color: white;
    border-radius: 20px;
    font-size: 2vh;
    font-weight: bold;
    border: 6px solid #b40000;
    border-bottom: 10px solid #b40000;
    padding: 1vh;
    cursor: pointer;
    
  }

  details p{
    padding: 1vh;
    margin-top: 0vh;
    
  }

  summary:hover{
    transition: 0.3s;
    background-color: white;
    color: #b40000;
  }

  .titServizi{
    font-size: 4vh;
    color: #b40000;
    font-weight: bold;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #b40000;
    height: fit-content;
    font-size: 30%;
    font-family: 'Nunito', sans-serif;
}

.testoCopyright{
    text-align: center;

}

.copyright{
    color: white;
    text-align: center;
    font-size: 1.2vh;
    margin: 0.5vh;
}


