@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700&display=swap');

.testoBase{
  font-family: 'Nunito', sans-serif;
}

body{
  margin: 0px;
  box-sizing: border-box;
}

.navbar{
  width: 100%;
  height: 5rem;
  background-color: #b40000;
  display: flex;
  align-items: center;
  position: fixed;
}

#menuOpen{
  width: 75%;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  visibility: visible;
}

#menuOpen:hover{
  scale: 115%;
}

#menuClose{
  width: 75%;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
  z-index: 2;
  visibility: hidden;
}

#menuClose:hover{
  background-color: white;
  border-radius: 20px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #b40000;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .logo{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: x-large;
    font-family: 'Nunito', sans-serif;
  }

  .sidebarLink {
    padding-left: 1rem ;
    margin-bottom: 3rem;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    font-weight: 600;
  }
  
  .sidebarLink:hover {
    color: black;
    border-left: solid 5px white;
  }
  .navCurt{
    padding-top: 1rem;
    padding-left: 1rem;
  }
  
  .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    padding-top: 1vh;
    text-decoration: none;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .closeBtn:hover{
    scale: 115%;
  }

  .logoHome{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
    padding-top: 3rem;
  }

  .intro{
    background-size: cover;
    height: 85vh;
    background-position:center ;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .introChi{
    background-image: url(/Static/Images/Bari3.jpg);
  }

  .introDov{
    background-image: url(/Static/Images/Bari3.jpg);
  }

  .introSer{
    background-image: url(/Static/Images/pexels-manuel-geissinger-325229.jpg);
  }

  .introInd{
    background-image: url(/Static/Images/pexels-manuel-geissinger-325229.jpg);
  }

  .introCon{
    background-image: url(/Static/Images/pexels-manuel-geissinger-325229.jpg);
  }

  .introNol{
    background-position-x: center;
    background-position-y: 80%;
    background-image: url(/Static/Images/noleggio.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: rgb(22, 22, 22);
  }

  .chisiamo{
    height: fit-content;
    background-color: #ffffff;
  }

  .contatti{
    height: fit-content;
    background-color: #ffffff;
  }

  .dovesiamo{
    height: fit-content;
    background-color: white;
  }
  
  .contattiGrid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .IconCont{
    width: 3rem;
    padding-right: 2rem;
  }

  .contatto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
  }

  .frameMappa{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
  }

  #mappa{
    width: 100%;
    height: 80vh;
  }

  .contactImg{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  video{
    border: solid 2px black;
  }

  .videoCont{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .servizi{
    height: fit-content;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
  }

  .serviziGrid{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center
  }

  .serviziExpl{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .noleggiForm{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  .noleggiInput{
    border-radius: 8px;
    margin-bottom: 1.5vh;
    height: 4vh;
    width: 80vh;
    border: solid 2px black;
  }

  .formIMG{
    background-color: transparent;
    width: 80vh;
    height: 60vh;
    background-image: url(/Static/Images/360_F_184145408_AJ8fpPSNhlAWWDeccmpru57nPIqbxWxx.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .noleggi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4vh;
    margin-bottom: 5vh;
  }
  
  .titNoleggi{
    font-weight: bold;
    margin-bottom: 2vh;
  }

  .btnNol{
    width: 10vh;
    border-radius: 8px;
    border: solid 2px black;
    height: 4vh;
    font-weight: bold;
    transition: 0.3s;
  }

  .btnNol:hover{
    transition: 0.3s;
    background-color:#b40000;
    cursor: pointer;
  }

  .noleggiFAQ{
  width: 100%;
  margin-top: 10vh;
  display: flex;
  
  }

  .FAQ{
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 70vh;
    margin-left: 20vh;
    margin-right: 20vh;
    border-radius: 25px;
    margin-bottom: 5vh;
    display: grid;
  }

  .domanda{
    background-color: #b40000;
    border-radius: 25px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #b40000;
    height: 6rem;
    font-size: 30%;
    font-family: 'Nunito', sans-serif;
}

.testoCopyright{
    text-align: center;
    font-size: 30px;
}

.copyright{
    color: white;
    font-size: small;
    text-align: center;
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .logo{
    font-size: 48px;
  }

  .testoBase{
    font-size: 20px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .logo{
    font-size: 64px;
  }

  .testoBase{
    font-size: 22px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .logo{
    font-size: 68px;
  }

  .testoBase{
    font-size: 26px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .logo{
    font-size: 72px;
  }

  .testoBase{
    font-size: 30px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .logo{
    font-size: 76px;
  }

  .testoBase{
    font-size: 24px;
  }

}
